body {
    background-color: #caca9f;
    font-family: sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    min-height: 70px;
    background-color: rgb(4, 74, 4);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 80px;
    height: 80px;
    margin-left: 10px;
}

nav a {
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover {
    color: white;
    animation: both 2s;
    font-size: 18px;
}

main {
    padding: 20px;
}


main div {
    display: inline-block;
    margin: 0;
    padding: 20px;
}

div img {
    width: 200px;
}

main h3 {
    padding-right: 0px;
    align-items: center;
}

@media (max-width:700px) {
    header {
        flex-direction: column;
        width: 100%;
    }

    nav {
        padding: 10px 0px;
    }

    .info img {
        padding: 40px;
        padding-left: 150px;
        width: 200px;
    }
}