body {
    background-color: #caca9f;
    font-family: sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    min-height: 70px;
    background-color: rgb(4, 74, 4);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 80px;
    height: 80px;
    margin-left: 10px;
}

nav a {
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover {
    color: white;
    animation: both 2s;
    font-size: 18px;

}
main{
    padding: 20px;
}

 
main div {
    display: inline-block;
    padding: 20px;
}

div img {
    width: 280px;
}
main h3 {
    padding-left: 40px;
}



























@media (max-width:700px) {
    header {
        flex-direction: column;
        width: 100%;
    }

    nav {
        padding: 10px 0px;
    }
        main {
            padding: 20px;
        }
    
        main img {
            padding-left: 40px;
        }
    
        main h3 {
            padding-left: 20px;
            padding-top: 100px;
            align-items: center;
        }
    
        main div {
            display: inline-flex;
        }
    
        div img {
            width: 250px;
            padding-bottom: 20px;
            padding-top: 20px;
        }
}
@media (max-width:300px) {
    header {
        flex-direction: column;
        width: 100%;
    }

    nav {
        padding: 5px 0px;
    }

    .info img {
        padding: 40px;
        padding-left: 20px;
        width: 200px;
    }
    nav a{
        font-size: 10px;
        font-weight: 1000px;

    }
    div img {
        width: 150px;
        padding-left: 5px
    }
        main h3 {
            padding-left: 10px;
            font-size: 15px;
        }
        main  {
            font-size: 15px;
            padding: 5px;
        }
        div h2{
            font-size: 15px;
        }
                nav a:hover {
                    font-size: 12px;
                }
}